body {
    background-color: #d3d3d3; /* Light grey */
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    padding: 10px;
    background-color: #d3d3d3;
    color: red;
    font-size: 40px
} 

